.console{
  width: 60%;
  height: 30%;
  min-width: 280px;
  max-width: 600px;
  max-height: 300px;
  padding: 5px;
  background-color:rgb(35, 35, 35);
  color: #fefefe;
  border-top:25px solid #777777;
  border-left: 2px solid #777777;
  border-bottom: 2px solid #777777;
  border-right: 2px solid #777777;
  box-shadow: 7px 7px 30px  rgba(0, 0, 0, 0.4);
  font-family: monospace;
  opacity:0.9;
}

.console::before {
  content: 'user@\2C80: ';
  color: green;
}
.console::after {
  content: '	\25AE';
  color: #fefefe;
  animation-name: blink;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}