@import url('https://fonts.googleapis.com/css?family=Oswald:500|Pattaya&display=swap&subset=cyrillic');


:root {
  --image: url("../img/bg@0,12x.jpg");
  --gradient-main: linear-gradient( rgba(0, 132, 255, 0.2), rgba(98, 58, 100, 0.2)),linear-gradient(rgba(255, 255, 255, 0.3 ), rgba(255, 255, 255, 0.17)),var(--image);

}

@supports (-ms-ime-align:auto) {
  :root {
    --image: url("img/bg@0,12x.jpg");
  }
}

html, body {
  font-family: monospace;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: calc( (100vw - 30rem)/(80 - 30) * (1.5 - 1) + 1rem);
}

header{
width:100%;
  padding: 2px;
  background-color: #232323;
  box-shadow: 7px 7px 30px  #00000055;
}
.top-nav ul{
  display:flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  font-size: 0.6rem;
}
.top-nav li{
  list-style-type: none;
}
.top-nav a{
  color:#fefefe;
  text-decoration: none;
  text-transform: uppercase;
}

.main {
  min-height: 100vh;
  overflow: hidden;
  background-color: #443d38;
  background-position: top center;
  background-size: cover;
  background-image: var(--gradient-main);
  font-size: 0.5rem;
}
.drag {
  position: absolute;
  top:calc((100% - 320px) / 100 * 40);
  left:calc((100% - 320px) / 100 * 20);
}
footer{
  position: fixed;
  bottom:0;
  right:10px;
  font-size: 10px;
  color: #ffffff;
}
footer a{
  font-size: 10px;
  color: #ffffff;
  /*font-family: 'Oswald', sans-serif;*/
  text-decoration: none;
}

@media (max-width: 599px){
  :root {
   --image: url("../img/bg@0,12x.jpg");
  }
  @supports (-ms-ime-align:auto) {
    :root {
      --image: url("img/bg@0,12x.jpg");
    }
  }
}
@media (min-width: 600px) and (max-width: 899px){
  :root {
    --image: url("../img/bg@0,2x.jpg");
  }
  @supports (-ms-ime-align:auto) {
    :root {
      --image: url("img/bg@0,2x.jpg");
    }
  }
}
@media (min-width: 900px) and (max-width: 1199px){
  :root {
    --image: url("../img/bg@0,21x.jpg");
  }
  @supports (-ms-ime-align:auto) {
    :root {
      --image: url("img/bg@0,21x.jpg");
    }
  }
}
@media (min-width: 1200px) and (max-width: 1799px){
  :root {
    --image: url("../img/bg@0,32x.jpg");
  }
  @supports (-ms-ime-align:auto) {
    :root {
      --image: url("img/bg@0,32x.jpg");
    }
  }
}
@media (min-width: 1800px){
  :root {
    --image: url("../img/bg@0,75x.jpg");
  }
  @supports (-ms-ime-align:auto) {
    :root {
      --image: url("img/bg@0,75x.jpg");
    }
  }

}


