* {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 10px;
	background-color: #cccccc;
}

body {
	max-width: 1280px;
	min-width: 720px;
	margin: 0 auto;
	padding: 0;
	font-family: "Open Sans", Arial, sans-serif;
	text-align: center;
	color: #7e8287;
	background-color: #ffffff;
}

/*======inline-grid======*/

.inline-grid {
	font-size: 0;
	/* Обнуляет размер шрифта
		 (чтобы не выскакивали межбуквенные отступы
		 между блоками)*/
}

.inline-grid > article {
	/* Задает правила для каждого дочернего элемента
		 с типом article,непосредственный предок
		 которого имеет класс inline-grid  */
	display: inline-block;
	/*Задает отображение inline-block,
			для того чтобы блоки выстроились в одну строку
			(если позволяет размер) */
	box-sizing: border-box;
	/* Размеры блоков считаются вместе
			с толщиной border, что упрощает рачет ширины блоков   */
	font-size: 1rem;
	/* Возвращает размер шрифта по умолчанию,
			обнуляемого у родителя */
}

.justify-fix {
	/* Задает правила для родителя чьи дочерние элементы
		 требуется распределить по ширине блока */
	text-align: justify;
	font-size: 0;
}

.justify-fix > * {
	display: inline-block;
	font-size: 1rem;
}

.justify-fix::after {
	display: inline-block;
	width: 100%;
	content: "";
}

/*======/inline-grid======*/

/*======components=====*/

.btn {
	display: inline-block;
	width: 19.6rem;
	height: 4.7rem;
	border: none;
	padding: 0.9rem 0.6rem 0.9rem 0.9rem;
	font-family: "Open Sans", Arial, sans-serif;
	color: #0b1016;
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 3rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.24rem;
	background-color: #cfc91d;
	box-sizing: border-box;
	cursor: pointer;
}

.btn:hover {
  color: #02918c;
	box-shadow: 0 0 0.3rem #cfc91d;
}

.vignette,
.big-vignette {
	position: relative;
}

.vignette::after {
	position: absolute;
	top: 7.3rem;
	left: 0;
	right: 0;
	display: inline-block;
	content: "~~~~~ :: ~~~~~";
	font-family: "Open Sans", Arial, sans-serif;
	color: #7e8287;
	font-size: 1.6rem;
	font-weight: 400;
	letter-spacing: 0.01rem;
	line-height: 4.1rem;
}

.big-vignette::after {
	position: absolute;
	top: 6.09rem;
	left: 0;
	right: 0;
	display: inline-block;
	content: "~~~~~~~~ :: ~~~~~~~~";
	font-family: "Open Sans", Arial, sans-serif;
	color: #7e8287;
	font-size: 1.6rem;
	font-weight: 400;
	letter-spacing: 0.01rem;
	line-height: 4.1rem;
}

/*======/components======*/

/*======header======*/

.header .global-navigation {
	width: 100%;
	color: #ffffff;
	background-color: #02918c;
}

.header .global-navigation a {
	color: #ffffff;
	text-decoration: none;
	background-color: transparent;
}

.header .navigation-logo {
	padding-left: 5rem;
	padding-bottom: 0.6rem;
	letter-spacing: 0.09rem;
	color: #ffffff;
	font-size: 2.6rem;
	font-weight: 700;
	line-height: 1.5;
	text-align: left;
	text-transform: uppercase;
	vertical-align: middle;
	background-color: transparent;
}

.header .navigation-logo-link span {
	color: #cfc91d;
	background-color: transparent;
}

.header .navigation-items {
	margin: 0;
	padding-top: 1.6rem;
	padding-bottom: 0.4rem;
	text-align: right;
	vertical-align: middle;
}

.header .navigation-item {
	padding-right: 4.4rem;
	padding-left: 0.3rem;
	padding-bottom: 0;
	color: #ffffff;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 2.5;
	text-transform: uppercase;
	vertical-align: middle;
	background-color: transparent;
	list-style-type: none;
}

.header .navigation-item-link:hover {
	color: #cfc91d;
}

.header-content {
	background: #445452 url(https://image.ibb.co/eMFJ46/header_bg.jpg) top center/cover no-repeat;
}

.header-content .header-content-slogan {
	margin: 0;
	padding-top: 21rem;
	padding-left: 0.6rem;
	font-family: "Open Sans", Arial, sans-serif;
	color: #ffffff;
	font-size: 3rem;
	font-weight: 400;
	line-height: 0.83;
	text-align: center;
	background-color: transparent;
	letter-spacing: 0.08rem;
}

.header-content .header-content-title {
	margin: 1.2rem 1rem 0 4.8rem; /* Смещение !?(поправка на основании макета)*/
	font-family: "Open Sans", Arial, sans-serif;
	color: #ffffff;
	font-size: 6.8rem;
	font-weight: 700;
	line-height: 1.1;
	letter-spacing: 2.22rem;
	text-align: center;
	text-transform: uppercase;
}

.header-content .header-content-explanation {
	position: relative;
	margin: -0.2rem 0 0 1rem; /* Смещение !?(поправка на основании макета)*/
	padding-bottom: 8rem;
	color: #ffffff;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.83;
	text-align: center;
	letter-spacing: 0.05rem;
}

.header-content .header-content-explanation::before {
	position: absolute;
	top: 7.7rem;
	left: 50%;
	display: inline-block;
	margin-left: -5.9rem;
	width: 10.8rem;
	height: 2.5rem;
	text-align: center;
	content: "";
	background: url(https://image.ibb.co/jcRfHR/divider.png) no-repeat;
}

.header-content .header-content-btn {
	margin-top: 4.1rem;
	margin-bottom: 21rem;
}

/*======/header======*/

/*====== sprites======*/
.article-title-icon .article-title::before {
	display: block;
	content: "";
	padding-bottom: 2.5rem;
	margin: 0 auto;
	text-align: center;
	background: url(https://image.ibb.co/ftppBm/sprite.png) no-repeat;

}

.icon-1 > .article-title::before {
	width: 31px;
	height: 33px;
	background-position: -30px -30px;
}

.icon-2 > .article-title::before {
	width: 32px;
	height: 32px;
	background-position: -30px -123px;
}

.icon-3 > .article-title::before {
	width: 34px;
	height: 32px;
	background-position: -28px -215px;
}

.icon-4 > .article-title::before {
	width: 32px;
	height: 26px;
	background-position: -30px -307px;
}

.icon-5 > .article-title::before {
	width: 28px;
	height: 33px;
	background-position: -30px -387px;
	padding-bottom: 1.6rem;
}

.icon-6 > .article-title::before {
	width: 32px;
	height: 36px;
	background-position: -30px -483px;
	padding-bottom: 1.3rem;
}

.icon-7 > .article-title::before {
	width: 32px;
	height: 37px;
	background-position: -30px -575px;
	padding-bottom: 1.3rem;
}

.icon-8 > .article-title::before {
	width: 32px;
	height: 36px;
	background-position: -30px -668px;
	padding-bottom: 1.3rem;
}

/*======/sprites======*/

/*======main======*/

.section-title {
	color: #02918c;
	font-size: 4.6rem;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.14rem;
	background-color: transparent;
}

.section-content {
	color: #7e8287;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 3.9rem;
	background-color: transparent;
}

/*=======================================================test*/
.article-content-block {

}

.article-content-block .article-title::before {
	content: "";
	background-image: url(https://image.ibb.co/ftppBm/sprite.png);
	background-repeat: no-repeat;
	display: block;
}

/*===========================================================*/
.article-title {
	color: #7e8287;
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 2.3rem;
	background-color: transparent;
}

.article-content {
	color: #7e8287;
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 2.1rem;
	background-color: transparent;
}

/*==== main-about ====*/
.main-about {
	max-width: 114.5rem;
	margin: 0 auto;
	padding-bottom: 9.8rem;
	text-align: center;
}

.main-about .section-title {
	margin: 8.7rem 0 0 0.2rem;
	padding-bottom: 5.4rem;
}

.main-about .section-content {
	max-width: 90rem;
	margin: 0 auto;
	padding: 0.3rem 1rem 7.1rem 1rem;
	line-height: 4rem;
}

.main-about .section-content .selection {
	color: #7e8287;
	font-size: 2.3rem;
	line-height: 1.69;
	letter-spacing: -0.005rem;
}

.about-article {
	width: 25%;
	min-width: 28.3rem;
	padding: 1.9rem 1.9rem 0 1.9rem;
	vertical-align: top;

}

article.about-article:nth-child(2) {
	border-right: 1px solid #bec7c7;
	border-left: 1px solid #bec7c7;

}

article.about-article:nth-child(3) {
	border-right: 1px solid #bec7c7;

}

/*=======================!!! dissymmetry !!!==================================*/
article.about-article:nth-child(1) {
	padding-left: 1.9rem;
	padding-right: 1.9rem;
	padding-top: 1.9rem;
}

article.about-article:nth-child(2) {
	padding-left: 1.9rem;
	padding-right: 2.6rem;
	padding-top: 2rem;
}

article.about-article:nth-child(3) {
	padding-left: 1.4rem;
	padding-right: 2.8rem;
	padding-top: 2rem;
}

article.about-article:nth-child(4) {
	padding-top: 2.6rem;
	padding-left: 1.1rem;
	padding-right: 3.5rem;
}

/*======================= !!! dissymmetry !!! ==================================*/
.main-about .article-content {
	margin: 0;
	padding: 0.5rem 2.7rem 5rem 2.7rem;
}

/*==== /main-about ====*/

/*==== main-services ====*/

.main-services {
	width: 100%;
	text-align: left;
	box-sizing: border-box;
	background: #f0f0e8 url(https://image.ibb.co/dy32Mm/services_bg1.jpg) right top/cover no-repeat;
}

.services-content-block {
	display: inline-block;
	padding: 4.5rem 4rem 5.8rem 4.6rem;
	width: 50%;
	min-width: 64rem;
	text-align: left;
	vertical-align: top;
}

.main-services-header {
	margin-left: 2.7rem;
	padding: 0 2rem 1.9rem 2rem;
}

.main-services-content {
	margin: 0 auto;
}
/*.main-services::after {*/
	/*content: "";*/
	/*display: inline-block;*/
	/*padding: 12.5%;*/
	/*min-width: 63rem;*/
	/*height: 728px;*/
	/*background: url("https://image.ibb.co/hKVkj6/services_bg.jpg") top center/cover no-repeat;*/
/*}*/
	/*.services-image-block {*/
	/*display: inline-block;*/
	/*width: 50%;*/
	/*min-width: 63rem;*/
	/*padding-left: 0.4rem;*/
/*}*/

.main-services-photo {
	object-fit: cover;
}

.main-services .section-title {
	margin-top: 1.9rem;
	margin-bottom: 6.2rem;
	margin-left: -0.2rem;
}

.main-services .section-content {
	margin: 0;
	line-height: 4.1rem;
}

.services-article {
	width: 50%;
	min-width: 27.7rem;
	padding: 1rem 4.8rem 1.3rem 4.8rem;
	vertical-align: top;
}

.main-services .article-title {
	margin-bottom: 0;

}

.main-services .article-content {
	margin-top: 1rem;
}

/*==== /main-services ====*/

/*==== main-work ====*/

.main-work {
	padding-top: 6.2rem;

}

.main-work .section-title {
	margin-left: 0.3rem;
}

.main-work .vignette::after {
	top: 6.2rem;
}

.main-work .section-content {
	padding-top: 1.3rem;
	width: 54%;
	margin: 0 auto;
	line-height: 2.59;
}

.main-work-photogallery {
	padding-top: 6.6rem;
}

.main-work-photogallery > .photogallery-item {
	position: relative;
	width: 25%;
	min-width: 32rem;
	font-size: 0;
	background: #bec7c7;

}

.photogallery-item > .photo {
	height: 238px;
	width: 321px;
}

.photogallery-item-link {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	font-size: 1rem;
	text-decoration: none;
}

.photogallery-item-content {
	position: absolute;
	top: 2rem;
	right: 2.5rem;
	bottom: 2.3rem;
	left: 2.9rem;
	padding: 3.7rem;
	background-color: rgba(2, 145, 140, 0.85);
	overflow: hidden;
	opacity: 0;
}

.photogallery-item-content:hover {
	opacity: 1;
}

.photogallery-item-content .article-content {
	margin-top: 0;
	padding-top: 0.8rem;
	font-size: 1.3rem;
	color: #ffffff;

}

.photogallery-item-content .article-title {
	margin: 1.7rem 0 0 0;
	color: #ffffff;
}

/*==== /main-work ====*/

/*==== main-contact ====*/

.main-contact {
	width: 100%;
	padding-top: 8.9rem;

}

.main-contact .section-title {
	margin: 0;
	padding-left: 0.3rem;
	padding-bottom: 5rem;

}

.main-contact .vignette::after {
	top: 6.3rem;
}

.main-contact .section-content {
	width: 54%;
	margin: 0.1rem auto;
	line-height: 4.15rem;
}

/*======  ======*/
.main-contact-header {
	padding-bottom: 5.8rem;
}

.main-contact-content {
	color: #ffffff;
	background-color: #0b1016;
}

/*==== contact-feedback ====*/
.contact-feedback {
	width: 71.5%;
	margin: 0 auto;
	padding: 0 2rem;
	box-sizing: content-box;
}

.contact-feedback-input {
	display: block;
	padding-left: 1rem;
	padding-right: 1rem;
	border: none;
	border-bottom: 1px solid #898989;
	font-family: "Open Sans", Arial, sans-serif;
	color: #7e8287;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 2.59;
	text-align: center;
	text-transform: uppercase;
	background: transparent;
}

.contact-feedback-input::placeholder {
	font-family: inherit;
}

.contact-feedback-input[name="name"],
.contact-feedback-input[name="email"] {
	width: 69.1%;
	margin: 0 auto;
	padding-top: 5.5rem;
	padding-bottom: 0.25rem;
}

.contact-feedback-input[name="message"],
.contact-feedback-input[name="message-sequel"] {
	width: 100%;
	margin: 0 auto;
	padding-top: 4.6rem;
	padding-bottom: 0.3rem;
}

.contact-feedback-submit {
	margin-top: 6.7rem;
	margin-bottom: 6.9rem;
}

/*==== /contact-feedback ====*/

/*==== /main-contact ====*/

/*==== copyright ====*/

.copyright {
	padding: 3.5rem 0 3.6rem 0.3rem;
	font-size: 1.1rem;
	color: #ffffff;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
	background-color: #000000;

}

/*==== /copyright ====*/